html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
html {
  overflow-y: scroll; /* fixing "jump horizontally" effect */
}
.m-hide {
  display: none !important;
}
.m-clear {
  clear: both;
}
.m-bold {
  font-weight: bold;
}
input,
select,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  -webkit-appearance: none;
}
.m-clearfix:before,
.m-clearfix:after {
  content: "";
  display: table;
}
.m-clearfix:after {
  clear: both;
}
.m-clearfix {
  *zoom: 1;
}
.html {
  font-size: 17px;
  font-family: Helvetica, sans-serif;
  font-weight: normal;
}
@media (max-width: 700px) {
  .html {
    font-size: 16px;
  }
}
.card {
  margin-bottom: 5rem;
}
.card__content {
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 2rem;
}
@media (max-width: 500px) {
  .card__content {
    margin-bottom: 1rem;
  }
}
.card__front,
.card__back {
  display: block;
  padding: 2rem 1rem;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.4;
}
.card__front b,
.card__back b {
  font-weight: normal;
  border-bottom: 1px solid #ccc;
}
.card__front {
  border-bottom: 1px solid #aaa;
}
.card__front-image {
  display: block;
  margin: 0 auto 1.5rem;
}
.card__back {
  position: relative;
}
.card__back-audio {
  display: none;
}
.card__back-play-audio-btn {
  position: absolute;
  top: 0.5rem;
  right: 0;
  color: #aaa;
  cursor: pointer;
  font-size: 0.85rem;
}
.card__back-play-audio-btn:hover {
  color: #0096f0;
}
.card__back-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  text-align: center;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  z-index: 10;
  display: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.card__back-overlay:hover {
  color: #f00;
}
.card__back-overlay.m-active {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.card__back-overlay.m-error {
  color: #f00;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.card__reveal-answer-btn {
  height: 2.4rem;
  line-height: 2.4rem;
  font-size: 1rem;
  color: #222;
  padding: 0 2rem;
  -webkit-border-radius: 1.2rem;
  border-radius: 1.2rem;
  cursor: pointer;
  background-color: #ebebeb;
}
.card__reveal-answer-btn:hover {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}
.card__reveal-answer-btn:active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  background-color: #e0e0e0;
}
.card__reveal-answer-btn.m-confidence1 {
  background-color: #aa006e;
  color: #fff;
}
.card__reveal-answer-btn.m-confidence2 {
  background-color: #ff9650;
  color: #fff;
}
.card__reveal-answer-btn.m-confidence3 {
  background-color: #fd0;
  color: #fff;
}
.card__reveal-answer-btn.m-confidence4 {
  background-color: #7fae2e;
  color: #fff;
}
.card__reveal-answer-btn.m-confidence5 {
  background-color: #00a0f0;
  color: #fff;
}
.card__confidence {
  display: none;
}
.card__confidence-title {
  text-align: center;
  color: #555;
  margin-bottom: 0.7rem;
}
.card__confidence-list {
  display: block;
}
.card__confidence-list-item {
  width: 18%;
  margin: 0 1%;
  display: inline-block;
  text-align: center;
}
.card__confidence-button {
  display: block;
  width: 100%;
  height: 2.4rem;
  line-height: 2.4rem;
  -webkit-border-radius: 1.2rem;
  border-radius: 1.2rem;
  margin: 0 auto;
  background-color: #fff;
  color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
}
.card__confidence-button:hover {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}
.card__confidence-button:active,
.card__confidence-button.m-active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.card__confidence-button-name {
  font-size: 0.8rem;
  display: block;
  color: #aaa;
  margin-top: 0.3rem;
}
.card__confidence-button-number {
  display: block;
  font-size: 1.3rem;
/*font-weight: bold;*/
  margin-bottom: 0.2rem;
}
.card__confidence-button--c1 {
  background-color: #aa006e;
}
.card__confidence-button--c1:active,
.card__confidence-button--c1.m-active {
  background-color: #8c0050;
}
.card__confidence-button--c2 {
  background-color: #ff9650;
}
.card__confidence-button--c2:active,
.card__confidence-button--c2.m-active {
  background-color: #e17832;
}
.card__confidence-button--c3 {
  background-color: #fd0;
}
.card__confidence-button--c3:active,
.card__confidence-button--c3.m-active {
  background-color: #e1bf00;
}
.card__confidence-button--c4 {
  background-color: #7fae2e;
}
.card__confidence-button--c4:active,
.card__confidence-button--c4.m-active {
  background-color: #619006;
}
.card__confidence-button--c5 {
  background-color: #00a0f0;
}
.card__confidence-button--c5:active,
.card__confidence-button--c5.m-active {
  background-color: #0082d2;
}
.content {
  display: block;
  max-width: 550px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  margin-top: 25px;
  margin-bottom: 35px;
}
.deck-list {
  margin-top: 1.5rem;
  text-align: center;
}
.deck-list__unit-title {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}
.deck-list__unit-title-wrapper {
  color: #00a0f0;
  font-size: 1.8rem;
  display: inline-block;
  line-height: 3rem;
  height: 3.4rem;
  -webkit-border-radius: 1.7rem;
  border-radius: 1.7rem;
  padding: 0 1.5rem;
  border: 0.2rem solid rgba(0,160,240,0.3);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.deck-list__item {
  width: 150px;
  display: inline-block;
  vertical-align: top;
  margin: 0 0.7rem 3rem;
  text-align: center;
}
.deck-list__item.m-inactive .deck-list__item-title {
  color: #aaa;
}
.deck-list__item.m-inactive .deck-list__item-image {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}
.deck-list__item-access {
  display: inline-block;
  padding: 0.2rem 0.6rem;
  -webkit-border-radius: 0.7rem;
  border-radius: 0.7rem;
  color: #fff;
/*font-weight: bold;*/
  padding-left: 1.5rem;
  line-height: 1rem;
  margin-top: 0.1rem;
  background: #aaa url("../images/lock-white.png") no-repeat 0.5rem center;
}
.deck-list__item-link {
  text-decoration: none;
  display: block;
}
.deck-list__item-link:hover .deck-list__item-image {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}
.deck-list__item-title {
  font-size: 1rem;
  line-height: 1.2;
  color: #333;
}
.deck-list__item-image-wrapper {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  position: relative;
  display: block;
  margin-bottom: 0.7rem;
  text-align: center;
}
.deck-list__item-image {
  height: auto;
  max-width: 100%;
  display: block;
}
.deck-list__item-cards-count {
  margin-top: 0.1rem;
  color: #aaa;
  font-size: 0.85rem;
  line-height: 1rem;
  white-space: nowrap;
  display: block;
}
.deck-list__item-cards-count.m-done {
  color: #080;
  font-weight: bold;
}
.deck-list__item-cards-count.m-repeat {
  color: #f00;
}
.deck-study__header {
  margin-bottom: 1rem;
  text-align: center;
  position: relative;
}
@media (max-width: 500px) {
  .deck-study__header {
    margin-bottom: 1rem;
  }
}
.deck-study__title {
  font-size: 1.2rem;
  font-weight: bold;
  display: inline;
  line-height: 1.2rem;
}
.deck-study__completeness {
  position: absolute;
  right: 0;
  line-height: 1.2rem;
  color: #aaa;
  display: inline;
  margin-left: 1rem;
  text-align: right;
  white-space: nowrap;
}
.deck-study__completeness-numbers {
  font-weight: bold;
  color: #888;
}
.flatcontent {
  margin: 35px 0;
}
.flatcontent a {
  color: #0096f0;
  text-decoration: none;
  cursor: pointer;
}
.flatcontent a:hover,
.flatcontent a.hover {
  color: #f00;
  text-decoration: underline;
}
.flatcontent img {
  max-width: 100%;
  height: auto !important;
}
.flatcontent table {
  max-width: 100%;
}
.flatcontent h1 {
  font-size: 2em;
  margin: 0.67em 0;
  line-height: 1.1;
}
.flatcontent h2 {
  font-size: 1.5em;
  margin: 0.75em 0;
  line-height: 1.2;
}
.flatcontent h3 {
  font-size: 1.17em;
  margin: 0.83em 0;
  line-height: 1.2;
}
.flatcontent h4,
.flatcontent p,
.flatcontent blockquote,
.flatcontent ul,
.flatcontent fieldset,
.flatcontent form,
.flatcontent ol,
.flatcontent dl,
.flatcontent dir,
.flatcontent menu {
  margin: 1.12em 0;
}
.flatcontent h5 {
  font-size: 0.83em;
  margin: 1.5em 0;
}
.flatcontent h6 {
  font-size: 0.75em;
  margin: 1.67em 0;
}
.flatcontent h1,
.flatcontent h2,
.flatcontent h3,
.flatcontent h4,
.flatcontent h5,
.flatcontent h6,
.flatcontent b,
.flatcontent strong {
  font-weight: bolder;
}
.flatcontent blockquote {
  margin-left: 40px;
  margin-right: 40px;
}
.flatcontent i,
.flatcontent cite,
.flatcontent em,
.flatcontent var,
.flatcontent address {
  font-style: italic;
}
.flatcontent pre,
.flatcontent tt,
.flatcontent code,
.flatcontent kbd,
.flatcontent samp {
  font-family: monospace;
}
.flatcontent pre {
  white-space: pre;
}
.flatcontent button,
.flatcontent textarea,
.flatcontent input,
.flatcontent select {
  display: inline-block;
}
.flatcontent big {
  font-size: 1.17em;
}
.flatcontent small,
.flatcontent sub,
.flatcontent sup {
  font-size: 0.83em;
}
.flatcontent sub {
  vertical-align: sub;
}
.flatcontent sup {
  vertical-align: super;
}
.flatcontent table {
  border-spacing: 2px;
}
.flatcontent thead,
.flatcontent tbody,
.flatcontent tfoot {
  vertical-align: middle;
}
.flatcontent td,
.flatcontent th,
.flatcontent tr {
  vertical-align: inherit;
}
.flatcontent s,
.flatcontent strike,
.flatcontent del {
  text-decoration: line-through;
}
.flatcontent hr {
  border: 1px inset;
}
.flatcontent ol,
.flatcontent ul,
.flatcontent dir,
.flatcontent menu,
.flatcontent dd {
  margin-left: 40px;
}
.flatcontent ol {
  list-style-type: decimal;
}
.flatcontent ul {
  list-style-type: disc;
}
.flatcontent ol ul,
.flatcontent ul ol,
.flatcontent ul ul,
.flatcontent ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
.flatcontent u,
.flatcontent ins {
  text-decoration: underline;
}
.flatcontent br:before {
  content: "\A";
  white-space: pre-line;
}
.flatcontent center {
  text-align: center;
}
.flatcontent table td {
  border: 1px solid #000;
}
.flatcontent table {
  border-collapse: separate;
}
.header {
  background-color: #00a0f0;
}
.header__wrapper {
  display: block;
  max-width: 550px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}
.header__level {
  font-weight: bold;
  margin-left: 0.2rem;
}
.header__menu {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  padding: 0.5rem 0;
  position: relative;
  color: #fff;
}
.header__menu-item {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin: 0.2rem 0.7rem 0.2rem 0;
  position: relative;
}
.header__menu-item:last-child {
  margin-right: 0;
}
.header__menu-item--fill {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 0;
}
.header__menu-item--level {
  line-height: 2.5rem;
  height: 2.5rem;
  padding: 0;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: center;
}
.header__menu-link {
  display: block;
  font-size: 1rem;
  line-height: 2.5rem;
  height: 2.5rem;
  -webkit-border-radius: 1.25rem;
  border-radius: 1.25rem;
  border: none;
  padding: 0 1.1rem;
  text-decoration: none;
  color: #fff;
  -webkit-transition: background-color 0.1s, opacity 0.1s;
  -moz-transition: background-color 0.1s, opacity 0.1s;
  -o-transition: background-color 0.1s, opacity 0.1s;
  -ms-transition: background-color 0.1s, opacity 0.1s;
  transition: background-color 0.1s, opacity 0.1s;
  cursor: pointer;
  background-color: rgba(0,0,0,0.1);
}
.header__menu-link:hover:not(.m-active):not(.header__menu-link--logo) {
  background-color: rgba(0,0,0,0.2);
}
.header__menu-link.m-active {
  color: #00a0f0;
  background-color: #fff;
}
.header__menu-link--logo {
  font-size: 1.5rem;
  padding: 0 1.3rem;
/*text-decoration: none;*/
/*color: mainColor(1);*/
  background-color: transparent;
  border: 0.2rem solid rgba(255,255,255,0.7);
  line-height: 2.1rem;
  height: 2.1rem;
}
.header__menu-link--logo:hover {
  border-color: #fff;
}
.home {
  margin: 3rem 0 7rem;
  line-height: 1.5;
}
.home__title {
  font-size: 1.8rem;
  color: #00a0f0;
  margin-bottom: 2rem;
  font-weight: bold;
  font-family: 'Philosopher', Helvetica, sans-serif;
  line-height: 1.1;
  text-align: center;
}
.home__engus {
  dislay: block;
  margin-top: 0.5rem;
  font-size: 2.5rem;
}
.home p {
  margin: 1rem 0;
  color: #333;
  font-weight: lighter;
  font-size: 1.2rem;
}
.home h2 {
  font-size: 1.7rem;
  text-align: center;
  font-family: 'Philosopher', Helvetica, sans-serif;
  color: #555;
  margin: 2.5rem 0 1rem;
}
.home img {
  display: block;
  margin: 1.2rem auto 3rem;
  max-width: 100%;
  height: auto;
}
.home strong {
  font-weight: bolder;
  color: #000;
}
.page {
  line-height: 1.3;
  color: #000;
  margin: 0 auto;
}
.registration {
  max-width: 23rem;
  padding: 0 2rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 2rem auto;
  line-height: 1;
}
.registration h1 {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}
.registration p {
  margin: 1.2rem 0;
  line-height: 1.4;
}
.registration p.centered {
  text-align: center;
}
.registration a {
  color: #0096f0;
  text-decoration: none;
  cursor: pointer;
}
.registration a:hover,
.registration a.hover {
  color: #f00;
  text-decoration: underline;
}
.registration form {
  margin: 1.5rem 0;
}
.registration form p {
  margin-top: 0;
}
.registration form .errorlist {
  color: #f00;
  margin: 1.5rem 0 0.5rem;
}
.registration form .helptext {
  display: block;
  color: #999;
  font-size: 15px;
}
.registration form .helptext b {
  color: #777;
  font-weight: bold;
}
.registration form label {
  display: block;
  margin: 0.7rem 0;
  color: #333;
}
.registration form input {
  display: block;
  width: calc(100% + 3rem);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 1.5rem;
  margin: 0.5rem -1.5rem;
  height: 3rem;
  line-height: 3rem;
  -webkit-border-radius: 1.5rem;
  border-radius: 1.5rem;
  border: 2px solid #00a0f0;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.registration form input[type=submit] {
  margin: 2rem -1.5rem;
  font-size: 1.3rem;
  color: #fff;
  background-color: #00a0f0;
  border: none;
  cursor: pointer;
}
.registration form input[type=submit]:hover {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}
