.deck-study {

    &__header {
        margin-bottom: 1rem;
        /*display: flex;*/
        /*flex-direction: row;*/
        /*justify-content: space-between;*/
        text-align: center;
        position: relative;
    }

    &__title {
        /*flex: 1 1 auto;*/
        font-size: 1.2rem;
        font-weight: bold;
        display: inline;
        line-height: 1.2rem;
    }

    &__completeness {
        /*flex: 1 0 auto;*/
        float: right;
        position: absolute;
        right: 0;
        line-height: 1.2rem;
        color: #aaa;
        display: inline;
        margin-left: 1rem;
        text-align: right;
        white-space: nowrap;

        &-numbers {
            font-weight: bold;
            color: #888;
        }
    }
}