.deck-list {
    text-align: center;
    margin: 3.5rem 0;

    &__item {
        width: 150px;
        display: inline-block;
        vertical-align: top;
        margin: 0 0.7rem 3.5rem;
        text-align: center;

        &.m-inactive &-title{
            color: #aaa;
        }

        &.m-inactive &-image {
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            opacity: 0.7;
        }

        &-access {
            display: inline-block;
            padding: 0.2rem 0.6rem;
            border-radius: 0.7rem;
            color: #fff;
            padding-left: 1.5rem;
            line-height: 1rem;
            margin-top: 0.3rem;
            font-size: 1rem;
            background: #aaa url(../images-dist/lock-white.png) no-repeat 0.5rem center;
            font-weight: bold;
        }

        &-link {
            text-decoration: none;
            display: block;
        }

        &-link:hover &-image {
            opacity: 0.7;
        }

        &-title {
            font-size: 1rem;
            line-height: 1.2;
            color: #333;
        }

        &-image-wrapper {
            width: 100px;
            height: 100px;
            margin: 0 auto;
            position: relative;
            display: block;
            margin-bottom: 0.7rem;
            text-align: center;
        }

        &-image {
            height: auto;
            max-width: 100%;
            display: block;
        }

        &-cards-count {
            margin-top: 0.1rem;
            color: #aaa;
            font-size: 0.85rem;
            line-height: 1rem;
            white-space: nowrap;
            display: block;

            &.m-done {
                color: #080;
                font-weight: bold;
            }

            &.m-repeat {
                color: red;
            }
        }
    }
}