.deck-study {

    &__header {
        margin-bottom: 1rem;
    }

    &__title {
        font-size: 1.2rem;
        font-weight: bold;
        display: inline;
        line-height: 1.2rem;
    }

    &__completeness {
        line-height: 1.2rem;
        color: #aaa;
        display: inline;
        margin-left: 1rem;
        float: right;

        &-numbers {
            font-weight: bold;
            color: #888;
        }
    }
}