.header {
    background-color: mainColor(1);

    &__wrapper {
        container()
        position: relative;
    }

    &__level {
        font-weight: bold;
        margin-left: 0.2rem;
    }

    &__menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        padding: 0.7rem 0;
        position: relative;
        color: #fff;

        &-item {
            flex: 0 0 auto;
            margin-right: 1rem;
            position: relative;

            &:last-child {
                margin-right: 0;
            }

            &--fill {
                flex: 1 1 auto;
                margin: 0;
            }

            &--level {
                line-height: 2.5rem;
                height: 2.5rem;
                padding: 0;
            }
        }

        &-link {
            display: block;
            font-size: 1rem;
            line-height: 2.5rem;
            height: 2.5rem;
            border-radius: 1.25rem;
            padding: 0 1.1rem;
            text-decoration: none;
            color: #fff;
            transition: background-color 0.1s, opacity 0.1s;
            cursor: pointer;
            background-color: rgba(0,0,0,0.1);
            box-sizing: border-box;

            &:hover:not(.m-active):not(.loading):not(&--logo) {
                background-color: rgba(255,255,255,0.3);
            }

            &.m-active {
                background-color: rgba(255,255,255,0.3);
            }

            &--logo {
                font-size: 1.5rem;
                padding: 0 1.3rem;
                text-decoration: none;
                color: mainColor(1);
                background-color: #fff;
            }
        }
    }
}