.registration {
    max-width: 380px;
    margin: 45px auto;
    line-height: 1;

    h1 {
        font-size: 1.6rem;
        text-align: center;
        margin-bottom: 1.5rem;
    }

    p {
        margin: 15px 0;

        &.centered {
            text-align: center;
        }
    }

    a {
        link()
    }

    form {
        margin: 20px 0;
        text-align: center;

        p {
            margin-top: 0;
        }

        .errorlist {
            color: red;
            margin: 20px 0 5px;
        }

        .helptext {
            display: block;
            color: #999;
            font-size: 15px;

            b {
                color: #777;
                font-weight: bold;
            }
        }

        label {
            display: block;
            margin: 5px 0;
            color: #333;
        }

        input {
            display: block;
            width: 100%;
            box-sizing: border-box;
            padding: 0 1.5rem;
            margin: 0.5rem 0;
            height: 3rem;
            line-height: 3rem;
            border-radius: 1.5rem;
            border: 2px solid mainColor(1);
            box-shadow: none;
            outline: none;
        }

        input[type=submit] {
            margin: 2rem 0;
            font-size: 1.3rem;
            color: #fff;
            background-color: mainColor(1);
            border: none;
            cursor: pointer;

            &:hover {
                opacity: 0.7
            }
        }
    }
}