{% extends "base.html" %}

{% block pagetitle %}Бесплатный курс английского. {% endblock %}

{% block extrahead %}
    <link href='http://fonts.googleapis.com/css?family=Philosopher&subset=cyrillic,latin' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
    <section class="home">
	    <h1 class="home__title">Бесплатный курс английского<br>
            <span class="home__engus">Ингус</span>
        </h1>
        <p>Изучение языка, основаное на повторении слов, фраз и грамматических конструкций.</p>

        <h2>Интервальная система повторений</h2>
        <p>Система, впервые предложенная профессором Алеком Мейсом в 1932 году, и в дальнейших исследованиях учёных доказавшая свою эффективность. Она основана на повторении запомненного материала через постоянно увеличивающиеся промежутки времени.</p>
        <img src="{{ STATIC_URL }}images/forgetting-curve.jpg">

        <h2>Самооценка</h2>
        <p>При повторении вы сами определяете, насколько хорошо запомнили материал.</p>
        <img src="{{ STATIC_URL }}images/screenshot_2.png">

        <h2>Повышение уровня английского</h2>
        <p>По мере прохождения курса открываются новые наборы слов, выражений, грамматики.</p>
        <img src="{{ STATIC_URL }}images/screenshot_3.png">

        <h2>Советы</h2>
        <p>Успешно завершить курс помогут регулярные занятия, а так же проговаривание вслух всех слов и фраз.</p>
    </section>
{% endblock %}
