{% extends "base.html" %}

{% block pagetitle %}Бесплатный курс английского. {% endblock %}


{% block content %}
    <section class="home">
	    <h1 class="home__title">Ингус – это бесплатный курс английского</h1>
        <p>Изучение языка в данном курсе основано на повторении слов, фраз, грамматических конструкций.</p>
        <p>Для эффективного запоминания на Ингус используется <strong>интервальная система повторений</strong>. Эта система была впервые предложена в 1932 году профессором Алеком Мейсом, и в дальнейшем доказала свою эффективность. Она основана на повторении запомненного материала через постоянно увеличвающиеся промежутки времени.</p>
        <p>Пользователь сам определяет, насколько хорошо он запомнил материал.</p>
        <p>По мере прохождения курса открываются новые наборы слов, выражений, грамматики.</p>
        <p>Успешно завершить курс помогут <strong>регулярные занятия</strong> (например 3 раза в день по 10 минут), а так же <strong>проговаривание вслух</strong> всех слов и фраз.</p>
    </section>
{% endblock %}
