{% extends "base.html" %}

{% block pagetitle %}Бесплатный курс английского. {% endblock %}

{% block extrahead %}
    <link href='http://fonts.googleapis.com/css?family=Philosopher&subset=cyrillic,latin' rel='stylesheet' type='text/css'>
{% endblock %}

{% block header_menu_item_home_class %}m-active{% endblock %}

{% block content %}
    <section class="home">
	    <h1 class="home__title">
            <span class="home__engus">Ингус 2015</span>
            Бесплатный курс английского
        </h1>
{#        <p class="home__subtitle">Изучение языка методом повторений слов, фраз и&nbsp;грамматических конструкций.</p>#}

{#        <h2>Курс 2015 года</h2>#}
{#        <p class="home__paragraph">Успешно завершить курс помогут регулярные занятия, а так же проговаривание вслух всех слов и фраз.</p>#}

        <h2>Эффективный метод изучения</h2>
        <p class="home__paragraph">Изучение языка в данном курсе основано на повторений слов, фраз и грамматических конструкций.</p>


        <h2>Система повторений для лучшего запоминания</h2>
        <p class="home__paragraph">Интервальная система повторений, впервые предложенная профессором Алеком Мейсом в 1932 году, и в дальнейших исследованиях учёных доказавшая свою эффективность. Она основана на повторении запомненного материала через постоянно увеличивающиеся промежутки времени.</p>
        <img src="{{ STATIC_URL }}images/forgetting-curve.jpg">

        <h2>Самооценка ученика</h2>
        <p class="home__paragraph">При повторении вы сами определяете, насколько хорошо запомнили материал. Это повышает точность алгоритма изучения.</p>
        <img src="{{ STATIC_URL }}images/screenshot_2.png">

        <h2>Повышение уровня английского</h2>
        <p class="home__paragraph">По мере прохождения курса открываются новые наборы слов, выражений, грамматики.</p>
        <img src="{{ STATIC_URL }}images/screenshot_3.png">

        <h2>Занятия на любых устройствах</h2>
        <p class="home__paragraph">Сайт адаптирован для планшетов и смартфонов. Изучение курса можно продолжить в дороге, в кафе, во время перерыва на работе.</p>

        <h2>Советы для начинающих</h2>
        <p class="home__paragraph">Успешно завершить курс помогут регулярные занятия, а так же проговаривание вслух всех слов и фраз.</p>
    </section>
{% endblock %}
