mainColor(opacity)
    rgba(0,160,240,opacity)

linkColor = #0096f0

confidence1Color(opacity)
    rgba(170,0,128,opacity)

confidence2Color(opacity)
    rgba(255,138,71,opacity)

confidence3Color(opacity)
    rgba(255,221,0,opacity)

confidence4Color(opacity)
    rgba(127,174,46,opacity)

confidence5Color(opacity)
    rgba(0,160,240,opacity)