mainColor(opacity)
    rgba(0,160,240,opacity)

linkColor = #0096f0

confidence1Color(opacity)
    rgba(170,0,110,opacity)

confidence1ColorActive(opacity)
    rgba(140,0,80,opacity)


confidence2Color(opacity)
    rgba(255,150,80,opacity)

confidence2ColorActive(opacity)
    rgba(225,120,50,opacity)


confidence3Color(opacity)
    rgba(255,221,0,opacity)

confidence3ColorActive(opacity)
    rgba(225,191,0,opacity)


confidence4Color(opacity)
    rgba(127,174,46,opacity)

confidence4ColorActive(opacity)
    rgba(97,144,6,opacity)


confidence5Color(opacity)
    rgba(0,160,240,opacity)

confidence5ColorActive(opacity)
    rgba(0,130,210,opacity)