<div class="card">
    <div class="card__content {% if card_learner %}{% if card_learner.level <= 5 %}m-confidence{{ card_learner.level }}{% else %}m-confidence5{% endif %}{% endif %}">
        <div class="card__front">
            {% load wrap_b %}
            {% load thumbnail %}
            {% if card.front_image %}
                {% thumbnail card.front_image 150x150  quality=80  as thumb %}
                <img class="card__front-image" src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}">
            {% endif %}
            {{ card.front|wrap_b:card.front_highlighted_text }}
        </div>
        <div class="card__back">
            {{ card.back|wrap_b:card.back_highlighted_text }}
            {% if card.back_audio %}
                <audio class="card__back-audio" src="{{ card.back_audio.url }}" preload="auto"></audio>
                <div class="card__back-play-audio-btn" title="Нажмите пробел">Произнести</div>
            {% endif %}
            <div class="card__back-overlay m-active">
                <span class="card__reveal-answer-btn {% if card_learner %}{% if card_learner.level <= 5 %}m-confidence{{ card_learner.level }}{% else %}m-confidence5{% endif %}{% endif %}" title="Нажмите пробел">Показать ответ</span>
            </div>
        </div>
    </div>

    <form class="card__confidence" action="{% url 'cards:card-confidence-change' card.pk %}" method="post">
        {% csrf_token %}
        <div class="card__confidence-title">Впомнили ответ?</div>
        <ul class="card__confidence-list">
            <li class="card__confidence-list-item">
                <button name="confidence" type="submit" value="1" class="card__confidence-button card__confidence-button--c1" title="Нажмите 1 на клавиатуре">
                    <span class="card__confidence-button-number">1</span>
                </button>
                <span class="card__confidence-button-name">Нет</span>
            </li><!--
         --><li class="card__confidence-list-item">
                <button name="confidence" type="submit" value="2" class="card__confidence-button card__confidence-button--c2" title="Нажмите 2 на клавиатуре">
                    <span class="card__confidence-button-number">2</span>
                </button>
                <span class="card__confidence-button-name">Плохо</span>
            </li><!--
         --><li class="card__confidence-list-item">
                <button name="confidence" type="submit" value="3" class="card__confidence-button card__confidence-button--c3" title="Нажмите 3 на клавиатуре">
                    <span class="card__confidence-button-number">3</span>
                </button>
                <span class="card__confidence-button-name">Средне</span>
            </li><!--
         --><li class="card__confidence-list-item">
                <button name="confidence" type="submit" value="4" class="card__confidence-button card__confidence-button--c4" title="Нажмите 4 на клавиатуре">
                    <span class="card__confidence-button-number">4</span>
                </button>
                <span class="card__confidence-button-name">Хорошо</span>
            </li><!--
         --><li class="card__confidence-list-item">
                <button name="confidence" type="submit" value="5" class="card__confidence-button card__confidence-button--c5" title="Нажмите 5 на клавиатуре">
                    <span class="card__confidence-button-number">5</span>
                </button>
                <span class="card__confidence-button-name">Отлично</span>
            </li>
        </ul>
    </form>
</div>