{% extends "base.html" %}

{% load pytils_numeral %}

{% block header_menu_item_decks_class %}active{% endblock %}

{% block content %}
    <ul class="deck-list">
        {% load thumbnail %}
        {% for deck in deck_list %}<li class="deck-list__item">
            <a class="deck-list__item-link" href="{{ deck.get_study_url }}">
                {% if deck.image %}
                    <div class="deck-list__item-image-wrapper">
                        {% thumbnail deck.image 200x150  quality=80  as thumb %}
                        <img class="deck-list__item-image" src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}">
                    </div>
                {% endif %}
                <h2 class="deck-list__item-title">{{ deck.name }}</h2>
                <h3 class="deck-list__item-subtitle">{{ deck.subtitle }}</h3>
                {% if deck.all_user_cards_count %}
                    <div class="deck-list__item-cards-count {% if deck.all_user_cards_count == deck.learned_user_cards_count %}m-done{% endif %}">
                        {% if deck.all_user_cards_count == deck.learned_user_cards_count %}
                            {{ deck.all_user_cards_count }} {{ deck.all_user_cards_count|choose_plural:"карточка,карточки,карточек" }}
                        {% else %}
                            <div class="deck-list__item-cards-count-to-repeat">{{ deck.learned_user_cards_count }} из {{ deck.all_user_cards_count }} повторить</div>
                        {% endif %}
                    </div>
                {% else %}
                    <div class="deck-list__item-cards-count">
                        {{ deck.card_set.public.count }} {{ deck.card_set.public.count|choose_plural:"карточка,карточки,карточек" }}
                    </div>
                {% endif %}
            </a>
        </li>{% endfor %}
    </ul>
{% endblock %}
