{% extends "base.html" %}

{% load pytils_numeral %}

{% block header_menu_item_decks_class %}active{% endblock %}

{% block content %}
    <ul class="deck-list">
        {% load thumbnail %}
        {% for deck in deck_list %}<li class="deck-list__item">
            <a class="deck-list__item-link" href="{{ deck.get_study_url }}">
                {% if deck.image %}
                    <div class="deck-list__item-image-wrapper">
                        {% thumbnail deck.image 200x200  quality=80  as thumb %}
                        <img class="deck-list__item-image" src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}">
                    </div>
                {% endif %}
                <h2 class="deck-list__item-title">{{ deck.name }}</h2>
                {% with deck_cards_count=deck.card_set.count %}
                <div class="deck-list__item-cards-count {% if deck.card_learners.exists %}{% if deck.learned_cards_count == deck_cards_count %}m-done{% else %}m-repeat{% endif %}{% endif %}">
                    {{ deck.learned_cards_count }} / {{ deck_cards_count }}
                </div>
                {% endwith %}
            </a>
        </li>{% endfor %}
    </ul>
{% endblock %}
